<h3>Add a Column</h3>

<%= form_with model: [ @sheet, @sheet.columns.build ] do |form| %>
    <p>
        <%= form.label  :title %>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :data_type %>
        <%= form.text_field :data_type %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>

<% end %>